@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    background-color: #55ACEE;
}

main {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
    font-family: 'Open Sans';
    color: #fff;
}

h1 {
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 60px;
}

h2, h3 {
    display: block;
    font-weight: 300;
    min-height: 10vh;
}

.trigger, .tweet {
    margin: 50px auto;
    display: block;
    border: solid 0.2px rgba(255,255,255, 0.5);
    width: 20vw;
    background-color: inherit;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
    text-decoration: none;
}

.trigger:hover, .trigger:active, .tweet:hover, .tweet:active {
    border: solid 2px #FFF;
}

